// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.card-header {
    background-color: #DEDEDE; /* Reemplaza "your_desired_color" con el color que desees */
    text-align: center;
  }
  
  #img1{
    width: 300px;
  }
